.NavBar{

    background-color: rgb(55, 43, 43);
    list-style: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px
  }
  
  ul {
      display: flex;
      justify-content: space-around;
      text-align: center;
      list-style: none;
      background-color: #ab6767;
    }
    
    li {
      border-right: 1px solid #bbb;
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
  
    li a:hover {
      background-color: #111;
    }