.ItemCart {
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
}

.ItemCart p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;

}

.ItemCart img {
    width: 200px;
    margin-right: 1rem;
    
}

.ItemCart button{
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

.ItemCart button:hover{
    background-color: red;
    color: aliceblue;
}